# Python
__pycache__/
*.py[cod]
*$py.class
.Python
build/
dist/
*.egg-info/
.eggs/

# Virtual env
.env
.venv
env/
venv/

# IDE / OS
.idea/
.vscode/
.DS_Store

# Project
*.log
relatorio_auditoria.txt
*.xlsx
*.csv
!data/examples/**

# Tests
.coverage
htmlcov/
.pytest_cache/
